/* styles/Comment.css */

.error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.comment-section {
    margin-top: 20px;
}

.comments-list {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    padding-top: 5px;
    padding-bottom: 5px;
    scrollbar-color: #555 #1a1a1a; /* Warna scrollbar (thumb) dan track */
    scrollbar-width: thin; /* Lebar scrollbar tipis */
}

/* Untuk browser dengan Webkit (Chrome, Safari, Edge) */
.comments-list::-webkit-scrollbar {
    width: 8px;
}

.comments-list::-webkit-scrollbar-track {
    background-color: #1a1a1a; /* Warna track scrollbar */
}

.comments-list::-webkit-scrollbar-thumb {
    background-color: #555; /* Warna scrollbar (thumb) */
    border-radius: 10px;
}

.comments-list::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Warna scrollbar ketika di-hover */
}

.comment-item {
    padding: 10px;
    padding-left: 0;
    padding-bottom: 3px;
    padding-top: 3px;
    /* border-bottom: 1px solid #e0e0e0; */
}

.new-comment-form {
    display: flex;
    gap: 10px;
}

.comment-input {
    outline: none;
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.comment-submit {
    padding: 8px 16px;
    background-color: #292a2c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-submit:hover {
    background-color: #303133;
}

/* Skeleton Styling */
.skeleton-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skeleton-comment {
    display: flex;
    gap: 10px;
    align-items: center;
}

.skeleton-avatar {
    display: none;
    width: 40px;
    height: 40px;
    background-color: #535353;
    border-radius: 50%;
}

.skeleton-content {
    flex-grow: 1;
}

.skeleton-line {
    height: 10px;
    background-color: #525252;
    margin-bottom: 5px;
    border-radius: 5px;
}

.skeleton-line.short {
    width: 50%;
}

.skeleton-line:not(.short) {
    width: 100%;
}
