.input-form-text {
    outline: none;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.725rem;
    padding-right: 0.725rem;
}

/* .input-form-text:hover {
    background-color: rgb(29, 29, 29);
} */

.input-form-textarea {
    overflow-y: auto;
    resize: none;
    outline: none;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.725rem;
    padding-right: 0.725rem;
}

.input-form-textarea::-webkit-scrollbar {
    width: 8px; /* Lebar scrollbar */
}

.input-form-textarea::-webkit-scrollbar-track {
    background: #1d1d1d; /* Warna track scrollbar */
}

.input-form-textarea::-webkit-scrollbar-thumb {
    background-color: #4b4b4b; /* Warna thumb scrollbar */
}

.input-form-textarea::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #9c9c9c; /* Warna thumb saat dihover */
}

input[type="file"]::file-selector-button {
    background-color: #1d1d1d;
    padding: 1rem;
    margin-left: 0.2rem;
}

.submit-button-edit-avatar {
    background-color: #284f61;
}

.submit-button-edit-avatar:hover {
    background-color: #417791;
}


@media (max-width: 768px) and (orientation: portrait) {
    .custom-toast {
      top: 2rem;     
      left: 50%;       /* Move the toast horizontally to the center */
      transform: translateX(-50%);  /* Adjust it to be fully centered */
      width: max-content;
    }
  }
  