.hmm {
    min-width: 100px;
}

.loading-bar {
    animation: loading-bar-animation 1.5s linear infinite;
    background-size: 200% 100%;
  }
  
  @keyframes loading-bar-animation {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  