.notification-row-light {
    background-color: rgb(224, 224, 224)
}

.notification-row:hover {
    background-color: rgb(54, 54, 54)
}

.notification-row {
    background-color: rgb(29, 29, 29)
}

.notification-is-not-read-dark {
    background-color: rgb(37, 37, 37)
}

.notification-is-not-read-light {
    background-color: rgb(250, 255, 219);
    color: black;
}